<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DailyInspired.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6AAF5CE08A89EEE83B4D5A4313544AAB5BB0DCB3</string>
				<key>dateExpires</key>
				<string>29/04/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R3JJQ7S8P7.com.inspiredDaily.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>R3JJQ7S8P7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cb1cc213-4701-4730-9909-08160557a569</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.inspiredDaily.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R3JJQ7S8P7</string>
				<key>name</key>
				<string>Samuel Costa</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
